{{!< default}}

<main class="content container" role="main">

  <div class="row">
    <article class="{{post_class}} single-post">
      {{! Everything inside the #post tags pulls data from the post }}
      {{#post}}

        <div class="col-md-2">
          <span class="post-meta post-date">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
          </span>
        </div>
        <div class="col-md-9">

          <h1 class="post-title">{{{title}}}</h1>

          <section class="post-content">
            {{content}}
          </section>

          <footer class="post-footer">
            {{> share_links }}
          </div>
        </footer>

      {{/post}}

    </article>
  </div>

</main>
